@font-face {
    font-family: "DingLieSongKe";
    src: url("/fonts/DingLieSongKe.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



/* 设置所有字体为 宋刻 */
* {
    font-family: "DingLieSongKe";
}